.app2 .app-icon {
    background-image: url(./../../../images/Btns/btn2.png);
}

.app2 .app-icon:active {
    background-image: url(./../../../images/Btns/btn2-click.png);
    border-radius: 6px !important;
}