/* Container */
#top-status {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 20;
    color: var(--text-color);
    font-size: 13px;
    text-shadow: 1px 1px rgb(88 83 86 / 50%);
}

/* Full Signal Container */
.top-signal {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    right: 45px;
}

/* Signals Container */
#top-status-signal {
    position: relative;
    width: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Signals */
.signal {
    display: inline-block;
    position: relative;
    background-color: var(--text-color);
    width: 2.5px;
    margin-right: 1px;
    border-radius: 2px;
}

.signal-1 {
    height: 4px;
}

.signal-2 {
    height: 6px;
    bottom: 1px;
}
.signal-3 {
    height: 8px;
    bottom: 2px;
}
.signal-4 {
    height: 10px;
    bottom: 3px;
}

/* Battery */
.battery-icon {
    position: absolute;
    right: 31px;
    top: 3px;
    background-image: url(../../images/battery.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13px;
    height: 18px;
}

.battery-fullfill-con {
    position: absolute;
    top: 1px;
    right: 4.2px;
    width: 5px;
    height: 11px;
    max-height: 11px;
}


.battery-fullfill {
    position: absolute;
    width: 5px;
    bottom: -0.5px;
    background-color: var(--text-color);
}
.battery-percentage {
    position: absolute;
    font-size: 0.9em;
    top: 3.9px;
    right: 7px;
}

/* Signal Status */
#top-status-connection {
    position: absolute;
    right: 18px;
    margin-bottom: 5px;
}

/* Time */
#top-status-center {
    position: absolute;
    left: 5px;
}
