* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #585153;
  --screen-color:  #a39990;
  --text-color: #e4dccf;
}

body {
  position: relative;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;}

.screen{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
}

.Mobile {
  overflow: hidden;
  width: 300px;
  height: 95vh;
  background-color: var(--screen-color);
  position: absolute;
  border-radius: 8px;
}

@media screen and (max-width:430px) {
  .Mobile {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}

@media screen and (max-width:250px) {
  body {
    display: none;
  }
}
