.app {
    float: left;
    width: 25%;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.app .app-icon {
    display: block;
    width: 48px;
    margin: 0 auto;
    margin-bottom: 5px;
    position: relative;
    margin-top: 10px;
    background-image: url(./../../../images/Btns/btn1.png);
    border-top-right-radius: 5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.app .app-icon:hover {
    background-image: url(./../../../images/Btns/btn1-click.png);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    top: 6px;
}

.app .app-img-container {
    width: 48px;
    height: 54.85714px;
    position: relative;
}

.app-img {
    width: 48px;
    height: 53px;
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    background-image: url(../../../images/application-icons/github.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    filter: opacity(70%);
    background-position: center center;
}
